@import "fonts";
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $base_font_family;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-black);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  color: $title-color;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

input,
select,
button {
  outline: none;
}

button, input[type="button"] {
  cursor: pointer;
  border: none;
}

p {
  font-size: 16px;
  @include media-sm {
    font-size: 14px;
  }
}

p + p {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: $container_width;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 80px 0;
  @include media-md {
    padding: 40px 0;
  }
  &-bg {
    background-color: $grey-light;
  }
  &-title {
    margin-bottom: 20px;
    font-size: 44px;
    color: #000000;
    @include media-md {
      font-size: 32px;
    }
  }
}

.block {
  &__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    @include media-sm {
      font-size: 16px;
    }
  }
}

.more {
  display: inline-flex;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .05em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-accent);
}