$title-color: #000;
$dark-grey: #78909C;
$blue-grey: #6F708D;
$dark: #161515;
$grey: #DAD6D6;
$grey-light: #f9fafd;
$footer-bg: #252525;

$container_width: 1270px;

$base_font_family: Roboto, Arial, sans-serif;