.footer {
  margin-top: auto;
  padding: 25px 0;
  background-color: $footer-bg;
  color: #ffffff;
  &__container {
    display: flex;
    @include media-md {
      flex-wrap: wrap;
    }
  }
  &__item {
    &:first-child {
      max-width: 525px;
      width: 100%;
      @include media-lg {
        flex: 1;
        width: auto;
      }
      @include media-md {
        width: 100%;
        flex: auto;
        margin-bottom: 30px;
      }
    }
    &:not(:first-child) {
      margin-left: 25px;
      max-width: 187px;
      width: 100%;
    }
    &:last-child {
      max-width: 220px;
      margin-left: auto;
      @include media-sm {
        width: 100%;
        flex: auto;
        margin-top: 30px;
      }
    }
  }
  &__copywright {
    display: block;
    margin-top: 15px;
    color: $light-grey;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    &-link {
      font-size: 14px;
      color: $light-grey;
    }
  }
}