.brands {
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 145px;
    width: 15%;
    margin-right: 50px;
    margin-bottom: 30px;
    transition: transform .3s;
    @include media-md {
      margin-right: 15px;
    }
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__img {
    margin: auto;
    max-width: 100%;
    max-height: 86px;
    @include media-md {
      max-height: 60px;
    }
  }
  &__name {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    @include media-md {
      font-size: 16px;
    }
  }
}