.search {
  &__open-modal {
    margin-left: 15px;
    @include size(16px);
    fill: var(--color-black);
    cursor: pointer;
    transition: fill .3s, transform .3s;
    &:hover {
      transform: scale(1.3);
      fill: var(--color-accent);
    }
    &:active {
      transform: scale(.9);
    }
  }
}

.search-form {
  &__group {
    position: relative;
    display: flex;
  }
  &__field {
    flex: 1;
    padding: 5px 20px 5px 15px;
    border: 1px solid $grey;
    border-radius: 70px 0 0 70px;
    transition: border-color .3s;
    &:focus {
      border-color: var(--color-accent);
    }
  }
  &__clear {
    @include position(absolute, $top: 25px, $right: 115px);
    @include size(12px);
    cursor: pointer;
    fill: var(--color-black);
    transform: scale(0);
    transition: transform .3s;
    &.active {
      transform: scale(1);
    }
  }
  &__btn {
    @include size(110px, 60px);
    background-color: var(--color-accent);
    border-radius: 0 70px 70px 0;
    @include media-md {
      @include size(60px, 45px);
    }
    &:hover {
      .search-form__icon {
        transform: scale(1.1);
      }
    }
  }
  &__icon {
    @include size(30px);
    fill: #fff;
    transition: transform .3s;
  }
  &__dropdown {
    margin: 15px auto 0;
    padding: 15px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    border: 0.5px solid $grey;
    transition: width .3s, height .3s;
    &.active {
      display: flex;
    }
  }
  &__link {
    font-weight: 500;
  }
  &__link + &__link {
    margin-top: 10px;
  }
}