mixin block
    .block
        h6.block__title Lorem ipsum dolor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        a.more(href="") Learn more

aside.sidebar
    h3.section-title-medium Recently added
    +block
    +block
    +block
    .block-show-tablet.btn-container
        a.btn(href="#")
            span Show more