mixin brands(src, brandName)
    a.brands__item(href="")
        img.brands__img(src=src, alt=brandName)
        span.brands__name=brandName

section.section
    .container
        h2.section-title By brands
        .brands
            +brands("img/general/car-brands/volkswagen.png", "Volkswagen")
            +brands("img/general/car-brands/ford.png", "Ford")
            +brands("img/general/car-brands/toyota.png", "Toyota")
            +brands("img/general/car-brands/peugeot.png", "Peugeot")
            +brands("img/general/car-brands/porsche.png", "Porsche")
            +brands("img/general/car-brands/opel.png", "Opel")
            +brands("img/general/car-brands/nissan.png", "Nissan")
            +brands("img/general/car-brands/mitsubishu.png", "Mitsubishu")
            +brands("img/general/car-brands/mercedes.png", "Mercedes Benz")
            +brands("img/general/car-brands/mazda.png", "Mazda")
            +brands("img/general/car-brands/lexus.png", "Lexus")
            +brands("img/general/car-brands/kia.png", "Kia")
        .btn-container
            button.btn See more