section.main(style="background-image: url(img/general/section-main-bg.jpg)")
    .main__container.container
        include parts/filter-form
        .main__content
            h1.main__title
                span Lorem ipsum
                span dolor sit amet
            p.main__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l