mixin postItem
    .posts__item
        h6.block__title Lorem ipsum dolor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        a.more(href="") Learn more

section.section.section-bg
    .container
        h2.section-title Recently posts
        .posts
            +postItem
            +postItem
            +postItem
            +postItem
            +postItem
            +postItem
            +postItem
            +postItem
            +postItem
            +postItem
            +postItem
            +postItem
        .btn-container
            a(href="#").btn
                span See more