form.filter-form
    .filter-form__header
        h6.filter-form__title Car Filters
        span.filter-form__descr what filters will fit your car
    .filter-form__body
        h6.filter-form__title Specify make, year and model to find filters:
        .filter-form__content
            .custom-select
                input(type="hidden", name="item", value="0")
                label.custom-select__label Year
                +icon("arrow-down", "custom-select__icon")
                .custom-select__header Select
                .custom-select__body
                    .scroll(data-simplebar, data-simplebar-auto-hide="false")
                        .custom-select__item(data-select-val="2022") 2022
                        .custom-select__item(data-select-val="2021") 2021
                        .custom-select__item(data-select-val="2020") 2020
                        .custom-select__item(data-select-val="2019") 2019
                        .custom-select__item(data-select-val="2019") 2018
                        .custom-select__item(data-select-val="2019") 2017
                        .custom-select__item(data-select-val="2019") 2016
                        .custom-select__item(data-select-val="2019") 2015
                        .custom-select__item(data-select-val="2019") 2014
            .custom-select
                input(type="hidden", name="item", value="0")
                label.custom-select__label Make
                +icon("arrow-down", "custom-select__icon")
                .custom-select__header Select
                .custom-select__body
                    .scroll(data-simplebar, data-simplebar-auto-hide="false")
                        .custom-select__item(data-select-val="2022") 2022
                        .custom-select__item(data-select-val="2021") 2021
                        .custom-select__item(data-select-val="2020") 2020
                        .custom-select__item(data-select-val="2019") 2019
                        .custom-select__item(data-select-val="2019") 2018
                        .custom-select__item(data-select-val="2019") 2017
                        .custom-select__item(data-select-val="2019") 2016
                        .custom-select__item(data-select-val="2019") 2015
                        .custom-select__item(data-select-val="2019") 2014
            .custom-select
                input(type="hidden", name="item", value="0")
                label.custom-select__label Model
                +icon("arrow-down", "custom-select__icon")
                .custom-select__header Select
                .custom-select__body
                    .scroll(data-simplebar, data-simplebar-auto-hide="false")
                        .custom-select__item(data-select-val="2022") 2022
                        .custom-select__item(data-select-val="2021") 2021
                        .custom-select__item(data-select-val="2020") 2020
                        .custom-select__item(data-select-val="2019") 2019
                        .custom-select__item(data-select-val="2019") 2018
                        .custom-select__item(data-select-val="2019") 2017
                        .custom-select__item(data-select-val="2019") 2016
                        .custom-select__item(data-select-val="2019") 2015
                        .custom-select__item(data-select-val="2019") 2014
            .custom-select
                input(type="hidden", name="item", value="0")
                label.custom-select__label Type
                +icon("arrow-down", "custom-select__icon")
                .custom-select__header Select
                .custom-select__body
                    .scroll(data-simplebar, data-simplebar-auto-hide="false")
                        .custom-select__item(data-select-val="2022") 2022
                        .custom-select__item(data-select-val="2021") 2021
                        .custom-select__item(data-select-val="2020") 2020
                        .custom-select__item(data-select-val="2019") 2019
                        .custom-select__item(data-select-val="2019") 2018
                        .custom-select__item(data-select-val="2019") 2017
                        .custom-select__item(data-select-val="2019") 2016
                        .custom-select__item(data-select-val="2019") 2015
                        .custom-select__item(data-select-val="2019") 2014
            a.btn-small(href="#")
                span Go